<app-navbar></app-navbar>

<div class="text-center m-3">
    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAddLeague">Agregar liga</button>
    <!-- <div class="input-group mx-auto w-25 mt-2 ">
        <input [(ngModel)]="search" type="text" class="form-control" placeholder="Buscar producto" aria-describedby="btnSearch">
    </div> -->
</div>
<hr>
<div class="row justify-content-center px-4">
    <div *ngFor="let league of leagues" class="card m-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ league.name }}</h5>
            <p class="card-subtitle mb-2 text-muted fst-italic"> -{{ league.country }}-</p>

            <div class="btn-group d-flex" role="group">
                <button (click)="getLeagueAdmin(league._id)" class="btn btn-warning flex-grow-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasGetLeague" aria-controls="offcanvasGetLeague">Editar</button>
                <button (click)="deleteLeagueAdmin(league._id)" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal add league-->
<div class="modal fade" id="modalAddLeague" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar liga</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #addLeagueForm="ngForm">
                    <div class="mb-3">
                        <label class="form-label">Usuario</label>
                        <select [(ngModel)]="league.user" name="team1" class="form-select">
                            <option *ngFor="let user of users" value="{{user._id}}">{{ user.username }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input [(ngModel)]="league.name" name="name" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">País</label>
                        <input [(ngModel)]="league.country" name="country" type="text" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Descartar cambios</button>
                        <button type="submit" (click)="addLeagueAdmin(addLeagueForm)" class="btn btn-primary" data-bs-dismiss="modal">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Offcanvas get league-->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasGetLeague" aria-labelledby="offcanvasGetLeague">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasGetLeague">Editar liga</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form (ngSubmit)="updateLeagueAdmin()" *ngIf="leagueGetId">
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input [(ngModel)]="leagueGetId.name" name="name" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">País</label>
                <input [(ngModel)]="leagueGetId.country" name="country" type="text" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Descartar cambios</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="offcanvas">Actualizar cambios</button>
            </div>
        </form>
    </div>
</div>