<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="!token">
                    <a class="nav-link" routerLink="/login">Iniciar sesión</a>
                </li>
                <li class="nav-item" *ngIf="!token">
                    <a class="nav-link" routerLink="/register">Registrarse</a>
                </li>
                <li class="nav-item" *ngIf="token && role == 'ADMIN'">
                    <a class="nav-link" routerLink="/admin/users">Administrar usuarios</a>
                </li>
                <li class="nav-item" *ngIf="token && role == 'ADMIN'">
                    <a class="nav-link" routerLink="/admin/leagues">Administrar ligas</a>
                </li>
                <li class="nav-item" *ngIf="token && role == 'CLIENT'">
                    <a class="nav-link" routerLink="/leagues">Mis ligas</a>
                </li>
            </ul>

            <ul class="navbar-nav d-flex" *ngIf="!token">
                <li class="nav-item">
                    <a class="nav-link"><strong>¡Inicia sesión o registrate para comenzar a comprar!</strong></a>
                </li>
            </ul>

            <ul class="navbar-nav d-flex" *ngIf="token">
                <li class="nav-item dropstart">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ name + ' ' + surname}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/myProfile">Mi perfil</a></li>
                        <li><a class="dropdown-item" href="" (click)="logOut()">Cerrar Sesión</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item">{{ username }}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>